p {
  margin: 0;
}

.Card {
  background: white;
  border-radius: 10px;
  width: 300px;
}

.Card__img {
  text-align: center;
}

.Card__types {
  display: flex;
  justify-content: center;
}

.Card__type {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: cyan;
  color: #fff;
}

.Card__name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}

.Card__info {
  margin-left: 10px;
}

.Card__data {
  padding-bottom: 10px;
}

.Card__data .title {
  font-weight: 700;
}

.modal {
  font-size: 30px;
  z-index: 1;
  overflow: auto; /* Enable scroll if needed */
}
.header {
  padding: 16px;

  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px 50px;
}
.content {
  padding: 2px 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50px 20px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.btn2 {
  border-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
  margin: 20px 0;
}
